<% provide(:title, "About") %>

<h1>About</h1>
<p>
  This web app allow users to sign up, post small messages called microposts, and follow other users.
</p>
<p>
   It was developed following the <a href="https://www.railstutorial.org">Ruby on Rails Tutorial</a>.
</p>
<p>
  See more of my work in my <a href="https://ls-portfolio.surge.sh">portfolio</a>.
</p>
