<footer class="footer">
  <small>
    A webapp by
    <a
      class="logo-wrapper"
      target="_blank"
      rel="noopener noreferrer"
      href="https://ls-portfolio.surge.sh"
    >
      <%= image_tag("Logo_ls_1.png", :alt => "ls", :class => 'styled-logo-1') %>
      <%= image_tag("Logo_ls_2.png", :alt => "ls", :class => 'styled-logo-2') %>
    </a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
    </ul>
  </nav>
</footer>